.slider_container {
	.slide {
		position: relative;
		.image {
			width: 100%;
			img {
				@include resp_image;
			}
		}
		.text {
			width: 100%;
			position: absolute;
			top: 10%;
			bottom: 10%;
			right: 0;
			text-align: right;
			.container {
				max-width: 1000px;
			}
			h3 {
				font: 72px/72px $ptb;
				margin: 0 0 35px;
			}
			h4 {
				font: 36px/36px $ptb;
				margin: 0 0 35px;
			}
			p {
				font: 16px/16px $pt;
				margin: 0 0 35px 50%;
				width: 50%;
				float: right;
			}
		}
	}
}