@import "normalize";
@import "fonts";
@import "var";
@import "mixins";
@import "standard";
@import "slide_it";

/*===========================================================================================
	HEADER
===========================================================================================*/
header {
	background: $facebook_blue;
	height: 150px;
}
/*===========================================================================================
	BANNER
===========================================================================================*/
.banner {
	background: $twitter_blue;
}
/*===========================================================================================
	FOOTER
===========================================================================================*/
footer {
	background: $facebook_blue;
	height: 450px;
}